body {
  background: white;
}

h1{
  text-align: center;
  color: navy;


}
nav{

}
nav ul li{
  display: inline-block;
  background-color:orange;
  padding: 100px;
  border: 20px;
  border-radius: 10px;
}
nav ul {

  list-style-type: none;
  text-align: center;
  color: white;



}

nav a {

  color: ffab38;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

nav a:hover {
}
