body {
  background: skyblue;
}
h1{
  text-align: center;
  color: navy;
}
nav ul li{
  display: inline-block;
  text-align: center;
}
nav ul {
  list-style-type: bold;
  text-align: center;
  color: white;
}
nav a {
  clear: both;
  color: black;
  margin-top: 20px;
  padding: 50px 16px;
  display: block;
  text-decoration: none;
  font-size: 35px;
  text-align: center;
  background-image: url("images/joeyUpsidedown.jpg");
  background-size: 100%;
  background-color:orange;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-size: 100%;
  text-align: center;
}
nav a:hover {
  color: white;
}
.bio{
  text-align: center;
  font-size: 50px;
}
